html {
    background-color: #FFDAB9;
}

#signup {
    margin: 10px auto;
    border: 100px solid #f0f0f0;
    border-radius: 1px;
    width: 500px;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(1, 1, 1, 1.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 1000;
}

h1 {
    text-align: center;
    color: #000;
    font-size: 3em;
    margin-bottom: 0.9rem;
}

h2 {
    text-align: center;
    color: #000;
    font-size: 2em;
    margin-bottom: 0.9rem;
}

.item {
    border-radius: 0;
    margin-bottom: 15px;
    width: 100%;
    letter-spacing: .2rem;
    justify-content: space-around;
    margin-bottom: 0.9rem;
    display: flex;
    font-size: 2em;
    gap: 21px 82%;
    color: #000;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background: #218838;
    box-shadow: 0 0 30px hsl(129, 84%, 60%);

}

#img1 {
    width: 20em;
    height: 40em;
    border-radius: 10px;
    box-shadow: 0 0 20px hsl(87, 40%, 43%);
    float: left;
    margin-top: -690px;
}

#img2 {
    width: 20em;
    height: 40em;
    border-radius: 10px;
    box-shadow: 0 0 20px hsl(87, 40%, 43%);
    float: right;
    margin-top: -690px;
}




@media screen and (min-width: 320px) and (max-width: 430px) and (orientation: portrait) {
    #signup {
        width: 90%;
        padding: 10px;
        border: 0px solid #f0f0f0;
    }

    input#name.item, input#email.item,
     input#password.item, input#confirm.item {
       padding: 0%;
    }

    #img1,
    #img2 {
        display: none;
    }
}



@media screen and (min-width: 768px) and (max-width: 1030px) {
    #signup {
        width: 80%;
        padding: 20px;
        border: 50px solid #f0f0f0;
    }

    #img1,
    #img2 {
        display: none;
    }
}


