    
html {
    background-color: #FFDAB9;
    background-image: url("image/grass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#signup {
    margin: 10px;
    border: 10px solid #004d12;
    width: 200px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(1, 1, 1, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 1000;
}

h1 {
    text-align: center;
    color: #000;
    font-size: 3em;
    margin-bottom: 0.9rem;
    text-shadow:
    0px 1px 0px rgb(240, 181, 255),
    3px 0px 3px rgb(197, 255, 164);
font-family: fantasy;
}

h2 {
    text-align: center;
    color: #000;
    font-size: 2em;
    margin-bottom: 0.9rem;
    text-shadow:
        0px 1px 0px rgb(240, 181, 255),
        3px 0px 3px rgb(197, 255, 164);
    font-family: fantasy;
    letter-spacing: .1em;
}

.item {
    border-radius: 0;
    margin-bottom: 15px;
    width: 100%;
    letter-spacing: .2rem;
    justify-content: space-around;
    margin-bottom: 0.9rem;
    display: flex;
    font-size: 2em;
    gap: 21px 82%;
    color: #000;
}

button #submit {
    width: 100px;
    padding: 10px;
    background: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #218838;
    box-shadow: 0 0 30px hsl(129, 84%, 60%);
}

#img1 {
    width: 20em;
    height: 40em;
    border-radius: 10px;
    box-shadow: 0 0 20px hsl(87, 40%, 43%);
    float: left;
    margin-top: -690px;
}

#img2 {
    width: 20em;
    height: 40em;
    border-radius: 10px;
    box-shadow: 0 0 20px hsl(87, 40%, 43%);
    float: right;
    margin-top: -690px;
}


@media screen and (min-width: 320px) and (orientation: portrait) {
    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 119px;
    }

    html#img4 {
        background-color: transparent;
        background-image: url("image/grass.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h1 {
        float: left;
        margin-top: 90px;
        color: #000;
        font-size: 32px;
        margin-bottom: 0.9rem;
    }

    #signup {
        width: 90%;
        padding: 10px;
        border: 0px solid #ffffff;
    }

    input#name.item,
    input#email.item,
    input#password.item,
    input#confirm.item {
        padding: 0%;
    }

    #img1,
    #img2 {
        display: none;
    }

    #img4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(5px);
    }
}

@media screen and (min-width: 375px) {
    
    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 145px;
    }
}

@media screen and (min-width: 425px) {
    
    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 164px;
    }
}


@media screen and (min-width: 430px) and (orientation: portrait) {

    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 152px;
    }

    html#img4 {
        background-color: transparent;
        background-image: url("image/grass.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h1 {
        float: left;
        margin-top: 90px;
        color: #000;
        font-size: 32px;
        margin-bottom: 0.9rem;
    }

    #signup {
        width: 90%;
        padding: 10px;
        border: 0px solid #ffffff;
    }

    input#name.item,
    input#email.item,
    input#password.item,
    input#confirm.item {
        padding: 0%;
    }

    #img1,
    #img2 {
        display: none;
    }

    #img4 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(5px);
    }
}

@media screen and (min-width: 430px) and (orientation: portrait) {
    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 171px;
    }

    html#img4 {
        background-color: transparent;
        background-image: url("image/grass.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h1 {
        float: left;
        margin-top: 90px;
        padding: 0.90em;
        color: #000;
        font-size: 32px;
        margin-bottom: 0.2em;
    }

    #signup {
        width: 90%;
        padding: 10px;
        border: 0px solid #f0f0f0;
    }

    input#name.item,
    input#email.item,
    input#password.item,
    input#confirm.item {
        padding: 0%;
    }

    #img1,
    #img2 {
        display: none;
    }

    #img4 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(5px);
    }
}


@media screen and (min-width: 599px) {

    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 171px;
    }

    html#img4 {
        background-color: transparent;
        background-image: url("image/grass.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h1 {
        float: left;
        margin-top: 90px;
        padding: 0.90em;
        color: #000;
        font-size: 32px;
        margin-bottom: 0.2em;
    }

    #signup {
        width: 90%;
        padding: 10px;
        border: 0px solid #f0f0f0;
    }

    input#name.item,
    input#email.item,
    input#password.item,
    input#confirm.item {
        padding: 0%;
    }

    #img1,
    #img2 {
        display: none;
    }

    #img4 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(5px);
    }
}



@media screen and (min-height: 660px) and (orientation: portrait) {
    h1 {
        float: center;
        margin-top: 120px;
        padding: 0.1em;
        color: #000;
        font-size: 32px;
    }

    h2 {
        float: center;
        margin-top: 120px;
        padding: 0em;
        color: #000;
        font-size: 32px;
    }
}

@media screen  and (min-width: 759px) {

    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 171px;
    }

    html#img4 {
        background-color: transparent;
        background-image: url("image/grass.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h1 {
        float: right;
        margin-top: 0px;
        padding: 0.90em;
        color: #000;
        font-size: 32px;
    }

    h2 {
        float: center;
        margin-top: 120px;
        padding: 0em;
        color: #000;
        font-size: 32px;
    }
    #signup {
        width: 90%;
        padding: 10px;
        border: 0px solid #f0f0f0;
    }

    input#name.item,
    input#email.item,
    input#password.item,
    input#confirm.item {
        padding: 0%;
    }

    #img1,
    #img2 {
        display: none;
    }

    #img4 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(5px);
    }
}

    

@media screen and (min-width: 768px) and (orientation: portrait) {

    input[type="image"] {
        margin-bottom: -90px;
    }

    input[type="image"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 2px;
    }

    #signup {
        width: 80%;
        padding: 20px;
        border: 50px solid #f0f0f0;
    }

    #img1,
    #img2 {
        display: none;
    }
}





@media screen and (min-width: 790px) and (orientation: portrait) {
    #signup {
        width: 80%;
        padding: 20px;
        border: 50px solid #f0f0f0;
    }

    #img1,
    #img2 {
        display: block;
        width: 15em;
        height: 30em;
        margin-top: -500px;
    }
}
